.card-container {
    .card-details {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #f9f9f9;
        margin: 10px 0 10px 0;
        transition: .3s;

        &:hover {
            background-color:#e5efe2;
        }

        .title-details {
            flex: 50%;
            margin-left: 22px;

            .price {
                color: #8db57f;
                font-size: 25px;
            }

            .desc {
                font-family: san;
            }
        }

        .add-btn {
            background-color: #8db57f;
            align-self: stretch;
            padding: 15px 0;
            flex-basis: 10%;
            color: #fff;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            &:hover {
                background-color: #3f6832;
            }

            @media screen and (max-width: 480px) {
                flex-basis: 100%;
            }
        }

        img {
            height: 200px;
            margin-left: auto;
        }
    }
}
