.menu {
  background-color: #ffff;

  .navbar {
    padding: 25px 20px;
  }

  .fa-pagelines {
    color: green;
  }

  .navbar-brand {
    font-size: 22px;
    color: green;
  }

  .bg-light {
    background-color: #ffff !important;
  }

  .navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    transition: .3s;

    &:hover {
      color: #333;
    }
  }
}
