.content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 50px;
  cursor: pointer;
  transition: .3s;

  &:hover {
    background-color: #ffff;
    border-color: #ffff;
  }
  .menu-image {
    height: 40px;
  }

  h3 {
    margin: 0;
    margin-left: 10px;
  }
}